.App {
  text-align: center;
  margin: 0 auto;
}

.App header {
  color: #fa4515;
  height: 10vh;
  min-height: 50px;
  background-color: white;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
}

.App header img {
  height : 4vh;
  min-height: 50px;
  width: 15%;
  margin-right: 10px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}