.received>img {
    margin-top: 1rem;
    width: 50px;
    float: left;
}

.received {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received>p{
    color: black;
    background: #e5e5ea none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 4.5rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0/ 35%) 0px 5px 5px 2px;
}
.received>span{
    color: black;
    background: #e5e5ea none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 4.5rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0/ 35%) 0px 5px 5px 2px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    max-width: 500px;
    display: block;
    word-wrap:break-word;
    white-space: normal;
}

p{
    overflow-wrap: break-word;
}
span{
    overflow-wrap: break-word;
}
.sent{
    display: inline-block;
    padding: 0 10px 0 0;
    vertical-align: top;
    width: 100%;
}

.sent>p{
    color: white;
    background: #0b93f6 none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 1.5rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0/ 25%) 0px 5px 5px 2px;
    float: right;
}

.sent>img{
    margin-top: 1rem;
    width: 50px;
    float: right;
}


main {
  padding: 10px;
  width: 100%;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: white;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: white;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  background-color: white;
}


form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #9b9bcc;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

form>input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #9b9bcc;
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
}

form>button {
  width: 10%;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

form>button:disabled {
  background-color: grey;
  cursor: not-allowed;
}






p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

ul, li {
  text-align: left;
  list-style: none;
}